<div class="navbar navbar-dark bg-dark d-flex justify-content-center" style="padding:20px;">
    <h2 class="text-center text-light text-center">.Net Core + Angular</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <app-organization-form [organizationData]="selectedOrganization" (refreshList)="refreshList($event)"></app-organization-form>
    </div>
    <div class="col-md-6">
        <app-organizations-list [refreshList]="refresh" (onChanged)="onChanged($event)"></app-organizations-list>
    </div>
</div>